<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Come Together Animal Clinic</title>
    <meta name="Website for the Come Together Animal Clinic" content="Come Together Animal Clinic">
    <meta name="JSnow and benxc" content="C2AC">
    <link rel="stylesheet" href="css/styles.css">
  </head>


  <style>

  </style>

  <!--Begin: Body-->
  <body>
    <!--Begin: Nav-->
    <nav>
      
    </nav>
    <!--End: Nav-->
    
    <!--Begin: Header-->
    <header>
      <p class="">Welcome to<br>Come Together Animal Clinic</p>
      <img src="home_cropped.jpg" id = "home-img" alt="Clinic mosaic">
      <h1>Help Us Save Animals!</h1>
    </header>
    <!--End: Header-->

    <!--Begin: Main-->
    <main>

      <!--Begin: About us--> 
      <section class="about-us">
        <h3>
          We aim to be the most affordable, professional, and friendly animal clinic around.<br>
          Our experienced staff would love to see your furry family members soon!
        </h3>
        <p>
          Come Together Animal Clinic, Inc. is dedicated to providing inner-city pet owners affordable, high-quality health care for their beloved pets. Otherwise, these pets would suffer in silence or have to be euthanized (put to sleep) when their caretakers can't afford a spay, neuter, or other life-saving surgical procedure.
        </p>
        <p>
          We understand the importance of affordable animal care to keep pets healthy. In many cases, especially for seniors, a pet is all one has. Having to euthanize a beloved pet due to unnecessarily high costs of pet care is just wrong on so many levels. We believe that when we save a pet's life, we save two lives.
        </p>
        <p>
          To succeed, we need lots of help from you, the community! Community involvement benefits everyone, including animal rescuers who are without any government assistance. Local rescuers often bring to our clinic homeless cats who have been born outside or "dumped" by their heartless owners, and thus left to fend for themselves. Many are not spayed or neutered, and the females continue to have babies in the wild at an alarming rate. The ones that survive grow up to be known as "community cats"--we provide a special rate for these patients.
        </p>
        <p>
          Our services include, but are not limited to, sprays/neuters, dental care, and TNR. As pet owners ourselves, we know that emergencies do arise, and we will certainly do what we can to make your pet well again at an affordable price. This is our goal.
        </p>
      </section>
      <!--End: About us--> 


      <!--Begin: Staff--> 
      <section class="staff">


        <div class="card">
          <div class="card__image">
            <img src="vetOne.jpg" alt="Jennifer Williams">
          </div>
          <div class="card__details">
            <p>Jennifer Williams</p>
            <p>Technician</p>
          </div>
        </div>


        <div class="card">
          <div class="card__image">
            <img src="vetOne.jpg" alt="Suzan Yiannousas">
          </div>
          <div class="card_details">
            <p>Suzan Yiannousas</p>
            <p>Office Manager</p>
          </div>
        </div>


        <div class="card">
          <div class="card__image">
            <img src="vetOne.jpg" alt="Dr. ? Emara">
          </div>
          <div class="card__details">
            <p>Dr. ? Emara</p>
            <p>Veterinarian</p>
          </div>
        </div>


        <div class="card">
          <div class="card__image">
            <img src="vetOne.jpg" alt="Dr. Tina Tsai">
          </div>
          <div class="card__details">
            <p>Dr. Tina Tsai</p>
            <p>Veterinarian</p>
          </div>
        </div>
        
        
      </section>
      <!--End: Staff--> 
  
      <!--Begin: Contact us--> 
      <section class="contact">
        <div class="contact__details">

          <h3>Hours</h3>
          <p>
            <b style="line-height: 2">Monday</b><span>: 10:00 AM - 2:00 PM</span>
            <br>
            <b style="line-height: 2">Tuesday</b>: <b>CLOSED</b>
            <br>
            <b style="line-height: 2">Wednesday</b>: 10:00 AM - 2:00 PM</span>
            <br>
            <b style="line-height: 2">Thursday</b><span></span>:   9:00 AM - 5:00 PM</span>
            <br>
            <b style="line-height: 2">Friday</b>: <b>CLOSED</b>
            <br>
            <b style="line-height: 2">Saturday</b><span></span>: 10:00 AM - 12:00 PM</span>
            <!-- TODO: Check this -->
            <br>
            <b style="line-height: 2">Sunday</b>: <b>CLOSED</b>
          </p>

          <div class="info">
            <div class="information">
              <img src="img/location.png" class="icon" alt="" />
              <p>
                155 Neponset Ave.<br>
                Boston, MA 02122
              </p>
            </div>
            <div class="fab fa-phone">(857) 496-1508</div>
            <a href="https://www.c2ah.com">
              www.C2AC.com
            </a>
          </div>

          <div class="social-media">
            <p>Contact us:</p>
            <div class="social-icons">
              <a href="mailto:ComeTogetherAnimalClinic@gmail.com" alt="email:ComeTogetherAnimalClinic@gmail.com">
                <div class="email-block">
                  <i class="fab fa-envelope">ComeTogetherAnimalClinic@gmail.com</i>
                </div>
              </a>
              <a href="https://www.facebook.com/lowcostanimalcare/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
          </div>
          
        </div>
    
    
        <div class="contact-map">
          <iframe class = "googlemap" width="100%" height="100%" allowfullscreen="" style="border: 0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.3107281968623!2d-71.05332378425625!3d42.293234779191344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37b9fec929571%3A0x19aaad345e93850d!2s155%20Neponset%20Ave%2C%20Boston%2C%20MA%2002122!5e0!3m2!1sen!2sus!4v1606105404459!5m2!1sen!2sus">
          </iframe>
        </div>


      </section>
      <!--End: Contact us--> 


    </main>
    <!--End: Main-->

    
    <!--Begin: Footer-->
    <footer>
      <p>2020 Created by JSnow and benxc. All rights reserved.</p>
    </footer>
    <!--End: Footer-->


  </body>
  <!--End: Body-->


</html>